{% extends 'base_generic.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">سخنرانان</h2>
    <div class="row">
        {% for speaker in speakers %}
        <div class="col-md-4 mb-4">
            <div class="card">
                {% if speaker.image %}
                <img src="{{ speaker.image.url }}" class="card-img-top" alt="{{ speaker.fullname }}">
                {% else %}
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Default Image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ speaker.fullname }}</h5>
                    <p class="card-text">{{ speaker.description|truncatewords:20 }}</p>
                    <a href="{% url 'event:speaker_detail' pk=speaker.id %}" class="btn btn-primary">مشاهده جزئیات</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
